/* Image inside of header */
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .img-container {
    height: 100px;
  }

  .img-container img {
    height: 100%; 
    max-width: 100%; 
   
  } 

.rounded-circle {
  border-radius: 50%!important;
} 

#school-image { 
  display: flex; 
}


  /* Buttons */ 
  .column { 
display: float-right;

  } 

  
   /* Coding Image at bottom of the page */
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
 
  @media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    } 
  }  



 