/* Image inside of header */
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .img-container {
    height: 100px;
  }

  .img-container img {
    height: 100%; 
    max-width: 100%; 
   
  } 

.rounded-circle {
  border-radius: 50%!important;
}
  /* Buttons */ 
  .column { 
display: float-right;

  } 

  /* carousel image */ 

  #carousel {
    
    max-width: 100%;
    height: auto;


  }
  
